# Archivos y carpetas a ignorar en Docker
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.db
*.db-journal
*.sqlite
*.sqlite3
.git/
.gitignore
.vscode/
.idea/
*.ipynb_checkpoints/
.DS_Store
*.log
*.pdf
node_modules/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

