# ============================================================
# Requirements para Proyecto RA1 - Data Warehouse ETL
# ============================================================

# Procesamiento de datos
pandas==2.1.4
numpy==1.24.3

# PySpark
pyspark==3.5.0
py4j==0.10.9.7

# Jupyter
jupyter==1.0.0
notebook==7.0.6
ipykernel==6.27.1

# Base de datos
sqlalchemy==2.0.23

